<html>
   <head>
      <title>File Upload</title>
      <link rel="stylesheet" href="/static/style1.css" />
   </head>
    
   <body>
   <center><img src="static/logo1.ico" alt="Girl in a jacket" ></center>
    <center><h1 class="f1">Plagarism detector</h1></center>
    <form method="POST" action="" enctype="multipart/form-data">
     
      <section class="rec1">

      <div class="container">
        
         <input type = "file" class="upload-box" name="file" />
         <section class="rec">
         <input type = "submit" class="button-29" />
         </section>   
      </div>
      </section> 
    </form>

   </body>
</html>